<div><h2>Today's Truck:</h2>
<div>Name: <%= @name %> </div>
<div>Address: <%= @address %></div>
<div>Near:  <%= @location %></div>
<div><p>Serving: <%= @food %></p></div>
<div><button class="border-radius: 1px;" phx-click="new-truck">Pick a different food truck</button></div>
</div>