<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "TruckOfTheDayClub" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-sky-50">
    <header class="bg-white">
      <section>
       <h1 class="text-2xl flex items-center justify-center">Truck Of The Day Club</h1>
       <h4 class="text-md flex items-center justify-center">Try a new food truck every day!</h4>
       <hr>
      </section>
    </header>
    <div class="flex items-center justify-center"><%= @inner_content %></div>
    
  </body>
</html>
